<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header card w-70 text-center">
        <h1>Given Text</h1>
    </div>
    <div class="container card w-70 text-center">
        <pre><p>{{ text }}</p></pre>
    </div>
    <div class="header card w-70 text-center">
        <h1>Analysed Text</h1>
    </div>
    <div class="container card w-70 text-center">
        <pre><p>{{ analysed_text }}</p></pre>
    </div>
</body>
</html>